@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}


@mixin absolute {
    position:absolute;
}

//fonts

@mixin monte-bold {
    font-family: 'montserratbold', sans-serif;
}


@mixin justify-center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


@mixin shadow {
    box-shadow: 0px 3px 6px #00000029;
}
